{% extends "base.html" %}

{% block heading %}声波信号模拟蓝牙通信{% endblock %}

{% block main %}

<script>

  async function play() {
    document.getElementById('play').disabled = true;
    document.getElementById('stop_play').disabled = false;

    str = document.getElementById('text').value;
    await fetch('/sender', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({action: 'play', text: str}),
    });
  }

  async function stop_play() {
    document.getElementById('play').disabled = false;
    document.getElementById('stop_play').disabled = true;
    await fetch('/sender', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({action: 'stop'}),
    });
  }

  var listen_loop = true;

  async function listen() {
    document.getElementById('listen').disabled = true;
    document.getElementById('stop_listen').disabled = false;

    result = document.getElementById('text-received');

    const response = await fetch('/receiver', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({action: 'receive'}),
    });

    listen_loop = true;
    while (listen_loop) {
      const response = await fetch('/receiver', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({action: 'read'}),
      });
      result.innerText = await response.text();
      if (response.status == 400) {
        listen_loop = false;
      }

      await new Promise(r => setTimeout(r, 200));
    }
    stop_listen();
  }

  async function stop_listen() {
    listen_loop = false;
    document.getElementById('stop_listen').disabled = true;
    document.getElementById('listen').disabled = false;
    const response = await fetch('/receiver', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({action: 'stop'}),
      });
    console.log(response);
  }

</script>


<div id="send">
  <label>ASCII 字符串</label>
  <textarea class="form-control" id="text" rows="3"></textarea>
  <br>
  <button id="play" type="submit" class="btn btn-primary" onclick="play()">播放</button>
  <button id="stop_play" type="submit" class="btn btn-primary" onclick="stop_play()" disabled="true">停止</button>
</div>

<br><br>

<div id="receive">
  <label>ASCII 字符串</label>
  <pre style="background-color: #DDDDDD; padding: 10px; white-space: pre-wrap;"><code id="text-received"></code></pre>
  <br>
  <button id="listen" type="submit" class="btn btn-primary" onclick="listen()">接收</button>
  <button id="stop_listen" type="submit" class="btn btn-primary" onclick="stop_listen()" disabled="true">停止</button>
</div>


{% endblock %}