{% extends "base.html" %}

{% block heading %}声波测距{% endblock %}

{% block main %}

<script>
  async function send() {
    await fetch('/dist-sender', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({action: 'send'}),
    });
  }

  async function receive() {
    await fetch('/dist-receiver', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({action: 'receive'}),
    });
  }
</script>

<div id="send">
  <label id="ip">发送方 IP</label> <input type="text"><br>
  <label id="port">发送方端口</label> <input type="text"><br>
  <label id="aa">发送方的麦克——扬声器距离</label> <input type="text"><br>
  <label id="bb">接收方的麦克——扬声器距离</label> <input type="text"><br>

  <button id="send" type="submit" class="btn btn-primary" onclick="send()">调用发送方</button>
  <button id="receive" type="submit" class="btn btn-primary" onclick="receive()">调用接收方</button>

  <label>结果（可能需要等待一分钟左右）</label>
  <div id="results"></div>

</div>

{% endblock %}